<link rel="stylesheet" type="text/css" href="css/bootstrap.css">
<style>
	.main{
		padding:120px;
	}
	.form-group{
		height: 50px;
		position: relative;
		margin-bottom: 30px;
	}
	.form-group input{
		position:absolute;
		top: 20px;
		left: 160px;
		width:70%;
		margin-top: 15px;
	}
	form{
		margin-top: 50px;
		padding: 20px;
	}
	button{
		margin-left:30px;
	}
</style>
<form>
  <div class="form-group">
    <label>课程编号</label>
    <input type="text" class="form-control" ng-model="course.number">
  </div>

  <div class="form-group">
    <label>课程名称</label>
    <input type="text" class="form-control" ng-model="course.name">
  </div>

  <div class="form-group">
    <label>总学时</label>
    <input type="text" class="form-control" ng-model="course.times">
  </div>
  
    <div class="form-group">
    <label>学分</label>
    <input type="text" class="form-control" ng-model="course.score">
  </div>
  
  <div class="form-group">
  	<button ng-click="addCourse()" class="btn btn-primary btn-sm">添加</button>
  	<button ng-click="reset()" class="btn btn-warning btn-sm">重置</button>
  </div>
</form>
<script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.0/dist/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>










<!-- <div class="group-item">
    <span>课程编号</span>
    <input type="text" ng-model="course.number">
</div>
<div class="group-item">
    <span>课程名称</span>
    <input type="text" ng-model="course.name">
</div>
<div class="group-item">
    <span>总学时</span>
    <input type="text" ng-model="course.times">
</div>
<div class="group-item">
    <span>学分</span>
    <input type="text" ng-model="course.score">
</div>
<div class="btn-group-item">
    <input type="button" class="btn btn-primary btn-sm" value="添加" ng-click="addCourse()">
    <input type="button" class="btn btn-default btn-sm" value="重置" ng-click="reset()">
</div>
 -->